<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotObama.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43145A4F1E8B1E1C009D5260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43145A631E8B1E1C009D5260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43145A6E1E8B1E1C009D5260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
